
.H-left-stroke {
  fill: none;
  stroke: black;
  stroke-width: 3px;
  stroke-dasharray: 124px;
  stroke-dashoffset: 124px;
  animation: H-left-move 20s ease forwards;
}

.H-mid-stroke {
  fill: linear-gradient(#000, #fff);
  stroke-dasharray: 37px;
  stroke-dashoffset: 7px;
  animation: H-mid-move 1s linear;
  transform-origin: 348.045px 91.749px;
}

.H-right-stroke {
  stroke-dasharray: 124px;
  stroke-dashoffset: 124px;
  animation: H-right-move 13s ease forwards;
}

@keyframes H-left-move {
  0% {
    stroke-dashoffset: 124px;
  }
  5% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

@keyframes H-mid-move {
  0% {
    transform: scaleY(0);
  }
  100% {
      transform: scaleY(1);
  }
}

@keyframes H-right-move {
  0% {
    stroke-dashoffset: 124px;
  }
  5% {
    stroke-dashoffset: 124px;
  }
  10% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

// .A-left-stroke {
//   fill: linear-gradient(#000, #fff);
//   stroke-dasharray: 37px;
//   stroke-dashoffset: 7px;
//   animation: A-mid-move 1s linear;
//   transform-origin: 437.599px 157.581px;
// }
//
// @keyframes H-mid-move {
//   0% {
//     transform: scaleX(0) scaleY(0);
//   }
//   100% {
//     transform: scaleX(1) scaleY(1);
//   }
// }
