.loadingAnimation svg {
  fill: none;
  stroke: black;
  stroke-width: 3px;
  stroke-dasharray: 800;
  stroke-dashoffset: 100;
  opacity: 0;
  animation: 3s outline infinite alternate;
}

@keyframes outline {
  from {
    opacity: 0;
    stroke-dashoffset: 400;
    stroke-dasharray: 400;
  }

  to {
    opacity: 1;
    stroke-dashoffset: 0;
  }
}
